* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: montserrat, sans-serif;
  display: grid;
  grid-template-rows: max-content minmax(77vh, 1fr) max-content;
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 248, 1),
    rgb(112 110 251 / 83%)
  );
}

.header {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255)
  );
  background-color: rgba(255, 255, 255, 0.75);
}
.hidden {
  display: none;
}

form {
  position: absolute;
  background-image: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255)
    ),
    linear-gradient(45deg, rgba(156, 252, 248, 1), rgb(112 110 251 / 83%));
  /* background-color: rgba(255, 255, 255, 1); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  gap: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0);
}

.gradient-text {
  background-color: rgb(112 110 251 / 83%);
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 248, 1),
    rgb(112 110 251 / 0.6)
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

input {
  padding: 10px;
}

input,
button {
  border: 1px solid gray;
  border-radius: 15px;
  font-family: inherit;
}

.book-display {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  align-items: flex-start;
  gap: 16px;
  padding: 50px;
  z-index: 1;
}

.card {
  position: relative;
  display: grid;
  padding: 32px;
  place-items: center;
  gap: 16px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.02);
}

.footer {
  padding: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255)
  );
  background-color: rgba(255, 255, 255, 0.75);
}

.read {
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 247, 0.6),
    rgb(112 110 251 / 0.6)
  );
}

.btn-form-status,
.btn-card-read {
  color: black;
}

.btn-form-container {
  padding: 8px;
  display: flex;
  gap: 12px;
}
.btn-form-status {
  font-size: 1.2rem;
}

.btn-form-submit,
.btn-new {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 247, 0.6),
    rgb(112 110 251 / 0.6)
  );
  border-radius: 15px;
}
/* .btn-new {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 247, 0.6),
    rgb(112 110 251 / 0.6)
  );
  border-radius: 15px;
} */

.btn-form-submit {
  padding: 12px;
}

.btn-form-status {
  background-color: #ff0000ed;
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 247, 0.6),
    rgb(112 110 251 / 0.6)
  );
}

.btn-new:hover,
.btn-form-submit:hover,
.btn-form-status:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.card-btns {
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: end;
  gap: 16px;
  width: 100%;
}

button {
  padding: 10px 16px;
  border: 1px solid rgb(62 62 62 / 58%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.btn-card-read {
  /* margin-left: 75px; */
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  background-color: #ff0000ed;
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 247, 0.6),
    rgb(112 110 251 / 0.6)
  );
  /* background-color: #32ff00; */
  /* box-shadow: none; */
  padding: 5px;
  border-radius: 10px 0px 10px 0px;
}

.read {
  background-color: #32ff00;
}
.btn-card-remove {
  padding: 5px;
  border-radius: 10px 0px 10px 0px;
  /* justify-self: end; */
  position: absolute;
  /* margin-left: 10px; */
  right: 0;
  bottom: 0;
  /* overflow: hidden; */
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
  /* box-shadow: none; */
}
.btn-card-remove svg {
  height: 25px;
  fill: #7b787e;
}

.btn-card-remove svg:hover {
  fill: #ff0000ed;
}

.card-pages {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
}

.card-pages svg {
  /* filter: opacity(0.7); */
  /* border: 1px solid red; */
  /* padding: 50px; */
  height: 30px;
  /* fill: #7b787e; */
  fill: #5d5c5f;
  /* fill: black; */
}
.card-pages span {
  align-self: flex-end;
  font-size: 1.2rem;
}
.btn-card-read svg {
  height: 25px;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(112 110 251);
}

.card-title {
  font-weight: 550;
  color: black;
  text-align: center;
}
