* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}

body {
  position: relative;
  max-width: 100%;
  font-family: montserrat, sans-serif;
  display: grid;
  grid-template-rows: max-content minmax(77vh, 1fr) max-content;
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 248, 1),
    rgb(112 110 251 / 83%)
  );
}

svg,
img {
  display: inline-block;
}

.hidden {
  display: none;
}

.header {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  background-color: #fff;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.gradient-text {
  background-color: rgb(112, 110, 251, 0.83);
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 248, 1),
    rgb(112 110 251 / 0.6)
  );

  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

form {
  position: fixed;
  background-image: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255)
    ),
    linear-gradient(45deg, rgba(156, 252, 248, 1), rgb(112 110 251 / 83%));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 75px;
  box-shadow: 0 48px 80px rgba(0, 0, 0, 0.3);
  gap: 8px;
}

form,
button,
input {
  border-radius: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
}

.btn-close {
  position: absolute;
  padding: 15px 15px 0 0;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0);
}

.btn-close svg {
  width: 30px;
}

.btn-close,
.btn-card-remove,
.btn-card-read {
  border: none;
  box-shadow: none;
}

.btn-close svg:hover,
.btn-card-remove svg:hover {
  fill: #ff0000ed;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input {
  padding: 10px;
  font-size: 1.1rem;
}

input:focus {
  outline: none;
  border: 2px solid rgb(112, 110, 251, 0.5);
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
}

input,
button {
  border: 1px solid rgb(62, 62, 62, 0.6);
  font-family: inherit;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1);
}

button {
  padding: 10px 16px;
}

.btn-form-container {
  padding: 8px;
  gap: 12px;
}

.btn-form-status,
.btn-card-read {
  background-color: #ff0000ed;
}

.btn-card-read,
.btn-form-status,
.btn-form-submit,
.btn-new {
  background-image: linear-gradient(
    45deg,
    rgba(156, 252, 247, 0.6),
    rgb(112 110 251 / 0.6)
  );
}

.btn-new,
.btn-form-status,
.btn-form-submit,
.card-pages > p,
label {
  font-size: 1.2rem;
}

.btn-form-submit,
.btn-new {
  background-color: rgb(255, 255, 255, 0.75);
}

.btn-form-submit {
  padding: 12px;
}

.btn-new:hover,
.btn-form-submit:hover,
.btn-form-status:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.book-display {
  border: 1px solid rgb(128, 128, 128, 0.25);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 16px;
  padding: 50px;
}

.card {
  position: relative;
  display: grid;
  padding: 32px;
  place-items: center;
  height: 200px;
  background-color: rgb(255, 255, 255, 0.75);
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  font-weight: 550;
  text-align: center;
}

.btn-card-read {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
}

.btn-card-read,
.btn-card-remove {
  border-radius: 10px 0 10px 0;
}

.read {
  background-color: #32ff00;
}

.btn-card-remove {
  padding: 5px 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0);
}

.btn-card-remove svg {
  width: 22px;
  fill: #5d5c5f;
}

.card-pages {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 12px;
  padding: 8px;
  align-items: flex-end;
}

.card-pages > img {
  width: 30px;
}

.card-pages > p {
  padding-bottom: 1px;
  color: #2e2e2f;
}

.footer {
  padding: 29px;
  display: flex;
  justify-content: center;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(112, 110, 251);
}
